@import "tailwindcss";

@theme {
  --color-medical-50: #f0f9ff;
  --color-medical-100: #e0f2fe;
  --color-medical-500: #0ea5e9; /* Sky blue */
  --color-medical-600: #0284c7;
  --color-medical-900: #0c4a6e;
}